<!DOCTYPE html>
<html lang="en">
<head>
  <title>Nobel Laureate</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style>
    .container {
      max-width: 800px;
      margin: auto;
    }
    h1 {
      text-align: center;
      margin-top: 30px;
    }
    .table {
      margin-top: 30px;
    }
    .form-group {
      margin-bottom: 0;
    }
    .btn-search {
      border-radius: 0;
      margin-left: 10px;
    }
    .form-select {
      min-width: 150px;
    }
  </style>
</head>
<body>

<div class="container">
  <h1>Welcome to the Nobel lauretes</h1>
  <p class="lead text-center">Get the list of Nobel Winners by your simple search</p>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
          <div class="form-group">
            <select class="form-select selectpicker" data-live-search="true" title="Nationality">
              {% for nation in nationality %}
              <option value="{{nation}}">{{nation}}</option>
              {% endfor %}
            </select>
          </div>
        </td>
        <td>
          <button type="button" class="btn btn-primary btn-search">Search</button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <select class="form-select selectpicker" data-live-search="true" title="Category">
              {% for category in categories %}
              <option value="{{category}}">{{category}}</option>
              {% endfor %}
            </select>
          </div>
        </td>
        <td>
          <button type="button" class="btn btn-primary btn-search">Search</button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <select class="form-select selectpicker" data-live-search="true" title="Year">
              {% for year in years %}
              <option value="{{year}}">{{year}}</option>
              {% endfor %}
            </select>
          </div>
        </td>
        <td>
          <button type="button" class="btn btn-primary btn-search">Search</button>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="form-group">
            <select class="form-select selectpicker" data-live-search="true" title="Category" data-actions-box="true" multiple>
              {% for category in categories %}
              <option value="{{category}}">{{category}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <select class="form-select selectpicker" data-live-search="true" title="Year" data-actions
